/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
a.main-layout-a-1 {
  border-width:0px;
  font-size:var(--lumo-font-size-xl);
  font-weight:bold;
  padding:var(--lumo-space-xs);
}

header.main-layout-header-1 { background-color:rgba(28,0,0,0); }

html { --lumo-base-color:rgba(0,0,0,0.72); }

span.main-layout-span-1 { font-weight:bold; }
